.header{
    height: 6rem;
    display: flex;
    padding: 0px 10rem;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    &__logo{
        width: 3rem;
    }
    &__link {
        &--a{
            text-decoration: none;
            color: #ffff;
            font-size: 1.2rem;
            padding: 0px 1.5rem;
            transition: 0.5s;
        }
        &--a:hover{
            color: #FA7603;
        }
    }
    &__login{
        &--button{
            color: #ffff;
            font-size: 1.2rem;
            border: none;
            padding: 0.7rem 1rem;
            border-radius: 0.5rem;
            transition: 0.5s;
            cursor: pointer;
        }
        &--button_login:hover{
            color: #FA7603;
        }
        &--button_back{
            background: #FA7603;
        }
        &--button_i{
            font-size: 1.5rem;
            display: none;
        }
    }
}

@media (max-width:1300px){
    .header{
        padding: 0px 5rem;
        &__logo{
            width: 2.5rem;
        }
        &__link {
            &--a{
                text-decoration: none;
                color: #ffff;
                font-size: 1.1rem;
                padding: 0px 1rem;
    
            }
        }
        &__login{
            &--button{
                font-size: 1.1rem;
                padding: 0.5rem 0.8rem;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:950px){
    .header{
        &__link {
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            margin-top: 6rem;
            width: 100%;
            height: 100%;
            left: 100%;
            align-items: center;
            transition: 0.5s;
            &--a{
                margin: 1.5rem 0rem;
                display: block;
                padding: 1rem 1rem;
            }
            &--a:hover{
                border: solid 1px #FA7603;
                color: #FA7603;
            }
        }
        &__login{
            &--button{
                font-size: 1.1rem;
                padding: 0.5rem 0.8rem;
            }
            &--button_i{
                display: inline-block;
            }
        }
        &__responsive{
            left: 0;
        }
    }
}

@media (max-width:670px){
    .header{
        padding: 0px 3rem;
    }
}